# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Others
*.vs/
*x64/
DuckHunt/.vs/DuckHunt/v17/.suo
DuckHunt/.vs/DuckHunt/v17/.suo
DuckHunt/.vs/DuckHunt/v17/.suo
DuckHunt/.vs/DuckHunt/v17/DocumentLayout.json
*.db
*.json
*.db
*.pdb
*.idb
*.obj
*.tlog
*.log
*.ilk
*.filters
*.exe
